body{
    background-image: url("study2_img.jpg");
    background-size:cover;   
    overflow: hidden;        
}
.head{
    height: 100px;
    width: 1387px;
}
#mail{
    position:relative;
    top: 20px;
    color: bisque;
    font-size: 20px;       
}
#mail:hover{
    color: yellow;
}
.head a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    left: 1100px;
    top: 30px;
    margin-right: 18px;
}
#icon {
    background-color: rgba(255, 255, 0, 0.443);
    border-radius: 50%;
}
#icon:hover{
    background-color: yellow;
}
.head img{
    height: 30px;
}




.mid{
    height: 300px;
    width: 1387px;
    margin-top: 14px;
}
.mid h1{
    position: relative;
    /* left: 550px; */
    font-size: 100px;
    color:rgba(255, 255, 0, 0.735);
    bottom: 40px;
    width: 1387px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.sear_bar{
    width: 700px;
    position: relative;
    left: 350px;
    bottom: 50px;
    background-color: white;
    border-radius: 25px
}
.sear_icon{
    position: relative;
    top: 3px;
    left: 20px;
    height: 25px;

}
#search_bar{
    position: relative;
    bottom: 5px;
    left: 30px;
    height: 45px;
    width: 500px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1.3rem;
}
.google_l{
    position: relative;
    top: 8px;
    left: 70px;
    height: 38px;
}
.google_v{
    position: relative;
    top: 3px;
    left: 50px;
    height: 25px;
}




.tail{
    height: 150px;
    width: 1387px;
    display: flex;
    margin-left: 130px;
}
.card{
    
    width:8rem;
    height: 130px;
    position: relative;
    left: 450px;  
    border-radius: 10px; 
    
}
.card:hover{
    background-color: rgba(255, 255, 0, 0.269);
}
.utube_bg{
    height: 60px;
    width: 60px;
    background-color:rgba(250, 235, 215, 0.516);
    position:absolute; 
    top: 15px; 
    left: 34px;
    border-radius: 50%;   
}
.card-img-top{
    height: 20px;
    position: relative;
    top: 20px;
    left: 15px;

}
.card-img-top-add{
    height: 40px;
    position: relative;
    top: 12px;
    left: 10px;
}
.card-body{
     position: relative;
     top: 80px;
     text-align: center;
     color: white;
}
.card-body:hover{
    color:bisque ;
}



.yash img{
    height: 20px;
}

