body{
    background-image: url("study2_img.jpg");
    background-repeat: no-repeat;
    background-size: 5120px 2234px; 
    overflow: hidden;  
}


.nav{
    color:antiquewhite;
    font-size: 30px;
    display: inline-block;
    margin-left: 70px;
    position: relative;
    top: 39px;
    left: 4000px;
    bottom: 15px;
    text-decoration: none;
}
.nav:hover{
    color:#FFC47E;
}
.navi{
    position: relative;
    left: 4000px;
    margin-left: 70px;
    top: 60px;
}
.navi_bg{
    position: relative;
    top: 10px;
    left: 10px;
}
.nav_d{
    display: inline-block;
    /* background-color:antiquewhite; */
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.nav_d:hover{
    background-color: #FFC47E;
}




.mid h1{
    color:antiquewhite;
    font-size: 400px;
    position: relative;
    left: 2000px;
    top: 90px;
}
.sear_bar{
    width: 2250px;
    height: 180px;
    position: relative;
    left: 1420px;
    top: 15px;
    background-color: white;
    border-radius: 100px;
}
.sear_icon{
    position: relative;
    bottom: 5px;
    left: 80px;
    height: 80px;

}
#search_bar{
    position: relative;
    bottom: 20px;
    left: 140px;
    height: 140px;
    width: 1300px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 4.5rem;
}
.google_l{
    position: relative;
    top: 27px;
    left: 590px;
    height: 139px;
}
.google_v{
    position: relative;
    bottom: 5px;
    left: 560px;
    height: 75px;
}


.tail{
    height: 750px;
    width: 5387px;
    display: flex;
    position: relative;
    top: 80px;
    margin-left: 130px;
}
.tail a {
    text-decoration: none;
}
.card{
    
    width:28rem;
    height: 450px;
    position: relative;
    left: 1950px;  
    border-radius: 30px; 
    
}
.card:hover{
    background-color: rgba(255, 255, 0, 0.269);
}
.utube_bg{
    height: 180px;
    width: 180px;
    background-color:rgba(250, 235, 215, 0.516);
    position:absolute; 
    top: 65px; 
    left: 140px;
    border-radius: 50%;   
}
.card-img-top{
    height: 60px;
    position: relative;
    top: 60px;
    left: 45px;

}
.card-img-top-add{
    height: 80px;
    position: relative;
    top: 52px;
    left: 50px;
}
.card-body{
     position: relative;
     top: 290px;
     text-align: center;
     color: white;
     font-size: 55px;
}
.card-body:hover{
    color:bisque ;
}



.yash img{
    height: 100px;
}
